CREATE USER @USER WITH PASSWORD '@PASSWD'; 
CREATE DATABASE @DATABASE WITH OWNER=@USER;
GRANT ALL PRIVILEGES ON DATABASE @DATABASE to @USER;
-- CREATE USER root WITH PASSWORD 'password'; 
-- GRANT ALL PRIVILEGES ON DATABASE @DATABASE to root;
